@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);
.fot{
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background-color: #232324; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    font-family: 'Comfortaa', cursive;
    padding: 20px 0; /* Внутренние отступы */
    text-align: center;
    opacity: 0.9;
}
.info {
    display: flex; /* Отображать в виде flex */
    flex-direction: column; /* В колонку */
    font-family: 'Comfortaa', cursive;
    align-items: center; /* Выравнивание по центру по вертикали */
}

.info p {
    margin-bottom: 0; /* Убираем нижний внутренний отступ у параграфов */
}
.pyk{
    font-family: 'Comfortaa', cursive;
}