.shapka{
    color: aliceblue;
    text-decoration: none;
    font-family: American Typewriter, serif;
    letter-spacing: 1px;
    font-size: 37px;
}
.ssilka{
    color: rgb(208, 243, 255);
    font-size: 20px;
    margin-top: 4px;
    text-decoration: none;
}